<!--
  ROS 1 launch file for LiDAR segmentation (torchsparse backend).

  Usage avec un bag:
    roslaunch ros_rl_inference lidar_seg.launch \
        config:=/app/ros-rl-inference/config/off_road_dg_lss.yaml \
        bag:=/data/recording.bag \
        labels_cfg:=/app/off-road-dg-lss/resources/goose_cfg.yaml
-->
<launch>
  <arg name="config"     default="$(find ros_rl_inference)/config/off_road_dg_lss.yaml"/>
  <arg name="bag"        default=""/>
  <arg name="labels_cfg" default="$(find ros_rl_inference)/../off-road-dg-lss/resources/goose_cfg.yaml"/>
  <arg name="rate"       default="1.0"/>

  <!-- Inference node -->
  <node pkg="ros_rl_inference"
        type="lidar_seg_node_ros1"
        name="lidar_segmentation"
        output="screen"
        respawn="false">
    <param name="config"     value="$(arg config)"/>
    <param name="labels_cfg" value="$(arg labels_cfg)"/>
  </node>

  <!-- Bag playback (optionnel) -->
  <group if="$(eval bag != '')">
    <node pkg="rosbag" type="play" name="rosbag_play"
          args="--clock -r $(arg rate) $(arg bag)"
          output="screen"/>
  </group>

</launch>
